<ion-modal-view class="popupModal" >
<div class="DivBeforeLoggedIn hide">
  <ion-list>
	  <ion-item ng-click="openLogin()">
		Login
	  </ion-item>
	  <ion-item ng-click="openRegister()">
		Register
	  </ion-item>
	  <ion-item ng-click="openLogin()">
		Cab Firms
	  </ion-item>
  </ion-list>
</div>
<div class="DivAfterLoggedIn hide">
	<ion-list>
	  <ion-item ng-click="openSOS()">
	  <div>
			<span style="margin-left:16px;">SOS</span>
		</div>
	  </ion-item>
	  <ion-item href="#/app/#">
	  <span style="margin-left:16px;">Camera</span>
	  </ion-item>
	  <ion-item href="#/app/#>
		Track Me
	  </ion-item>
	  <ion-item href="#/app/#>
		QR reader
	  </ion-item>
  </ion-list>
</div>
</ion-modal-view>
