
<ion-modal-view class="PinPopupE1Modal" style="width: 85%; height: auto; top: 2%; left: 10%; right: 10%; padding-top:30px;bottom: 5%;background-color: transparent !important;overflow:hidden;">
<i class="icon ion-android-close close-modal"  ng-click="closetempPinPopUpE1()"></i>
  <!--<ion-header-bar>
    <div class="buttons">
      <button class="button button-clear" ng-click="closePinPopUpE1()">Close</button>
    </div>
  </ion-header-bar>-->
  <ion-content>
  <input type="button" ng-controller="PINE1Controller" class="DivTempPinPopUp" value="wwrrwerw" style="display:none;" />
  <div class="DivAppendChildData">
       
	   </div>
   
  </ion-content>
</ion-modal-view>

